{block #content}
	<h1>Články</h1>
	<ol class="breadcrumb">
		<li><a n:href="homepage:default">Administrace</a></li>
		<li><a n:href="articles:default">Články</a></li>
		<li class="active">Přidání článku</li>
	</ol>
	<hr/>
	<div class="container">
		{control addArticleForm}
	</div>
{/block}