{block #content}
	<h1>Články</h1>
	<ol class="breadcrumb">
		<li><a n:href="homepage:default">Administrace</a></li>
		<li class="active">Články</li>
	</ol>
	<hr/>
	<div class="container">
		<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">{$flash->message}</div>

		<a n:href="articles:add">
			<div class="btn btn-primary">Přidat nový článek</div>
		</a>

		<br/>
		<br/>
		<table class="table table-bordered table-striped">
			<tr>
				<th>Titulek</th>
				<th>Autor</th>
				<th>Publikováno</th>
				<th></th>
			</tr>
			{foreach $articles as $article}
				<tr>
					<td>{$article->title}</td>
					<td>{$article->ref("users", "author")->username}</td>
					<td>
						{if $article->publishDate != "-0001-11-30 00:00:00" and $article->published == 1}
							<div class="btn btn-sm btn-default">
								<a n:href="unPublishArticle! $article->id">
									Schovat
								</a>
							</div>
						{else}
							<div class="btn btn-sm btn-default">
								<a n:href="publishArticle! $article->id">
									Publikovat
								</a>
							</div>
						{/if}
					</td>
					<td>
						<a n:href="articles:edit $article->id">
							<i class="glyphicon glyphicon-edit"></i>
						</a>
						<a n:href="deleteArticle! $article->id">
							<i class="glyphicon glyphicon-trash"></i>
						</a>
					</td>
				</tr>
			{/foreach}
		</table>
	</div>
{/block}