{block #content}
	<h1>Články</h1>
	<ol class="breadcrumb">
		<li><a n:href="homepage:default">Administrace</a></li>
		<li><a n:href="articles:default">Články</a></li>
		<li class="active">Úprava článku</li>
	</ol>
	<hr/>
	<div class="container">
		<img n:img="articleImages/$articlePhoto" style="width: 100%">
		<hr />
		<table style="width: 100%">
			{foreach $relativeArticles as $relativeArticle}
				<tr style="border-bottom: 1px solid #F8F8F8;margin-bottom: 5px;">
					<td>
						<a n:href="articles:edit $relativeArticle->relativeArticle">
							{$relativeArticle->ref("articles", "relativeArticle")->title}
						</a>
					</td>
					<td class="text-right">
						<div class="btn btn-sm btn-default">
							<a n:href="deleteRelativeArticle! $relativeArticle->id">
								<i class="glyphicon glyphicon-trash"></i>
							</a>
						</div>
					</td>
				</tr>
			{/foreach}
		</table>
		<hr/>
		{control addRelativeArticleForm}
		{control editArticleForm}
	</div>
{/block}