<head>
	<meta charset="utf-8">

	<title>Login</title>

	<link rel="stylesheet" href="{$basePath}/css/bootstrap.css">
	<link rel="stylesheet" href="{$basePath}/css/admin.css">
	<link rel="shortcut icon" href="{$basePath}/images/favicon.ico">
	<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Signika:400,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<div class="login">
		<div class="content">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 loginPanel">
						<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">{$flash->message}</div>

						{form signInForm}
							<div class="username">
								{input username, class => "form-control"}
							</div>
							<div class="password">
								{input password, class => "form-control"}
							</div>
							<div class="checkbox">
								{input remember}
							</div>
							<hr/>
							<div class="send">
								{input send, class => "btn btn-success"}
							</div>
						{/form}
					</div>
				</div>
			</div>
		</div>
	</div>