{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>Administrace</title>

	<link rel="stylesheet" href="{$basePath}/css/bootstrap.css">
	<link rel="stylesheet" href="{$basePath}/css/selectize.css">
	<link rel="stylesheet" href="{$basePath}/css/selectize.bootstrap3.css">
	<link rel="stylesheet" href="{$basePath}/css/admin.css">
	<link rel="shortcut icon" href="{$basePath}/images/favicon.ico">
	<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Signika:400,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	{block head}{/block}
</head>

<body>
<script> document.documentElement.className += ' js' </script>

<div class="menu">
	<div class="heading">
		<h1>Administrace</h1>
		<h5><a n:href=":Homepage:default">Web</a></h5>
	</div>
	<hr/>
	<ul>
		<li n:class="$presenter->isLinkCurrent('homepage:default') ? active">
			<a n:href="homepage:default">
				<i class="glyphicon glyphicon-th-large"> </i>&nbsp; Administrace
			</a>
		</li>
		<li n:class="$presenter->isLinkCurrent('articles:*') ? active">
			<a n:href="articles:default">
				<i class="glyphicon glyphicon-file"> </i>&nbsp; Články
			</a>
		</li>
	</ul>

</div>
<div class="dashboard">
	{include content}
</div>

{block scripts}
	<script src="{$basePath}/js/jquery.js"></script>
	<script src="{$basePath}/js/netteForms.js"></script>
	<script src="{$basePath}/js/bootstrap.js"></script>
	<script src="{$basePath}/js/selectize.js"></script>
	<script src="{$basePath}/ckeditor/ckeditor.js"></script>
	<script src="{$basePath}/js/admin.js"></script>
{/block}
</body>
</html>
