{block #content}
	<h1>Výsledky</h1>
	<ol class="breadcrumb">
		<li><a n:href="homepage:default">Administrace</a></li>
		<li class="active">Výsledky</li>
	</ol>
	<hr/>
	<div class="container">
		<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">{$flash->message}</div>
		{control resultsForm}
	</div>
{/block}