{block content}
	<div n:block="title" class="hidden">Podpora prodeje nových vozů, aktuality z obchodu s automobily</div>
	<div class="article">
		<div class="container">
			<ol class="breadcrumb">
				<li><a n:href="homepage:default">Autonewsletter.cz</a></li>
				<li class="active">{$article->title}</li>
			</ol>
			<hr/>
			<h2>{$article->title}</h2>

			<div class="row">
				<div class="col-md-6">
					{!$article->text}
				</div>
				<div class="col-md-6 text-center">
					{if $article->photo}
						<img n:img="articleImages/$article->photo, 400x400, exact">
					{/if}
				</div>
			</div>
			<div class="clearfix"></div>

			{if}
				<hr/>
				<div class="row">
					{foreach $relativeArticles as $relativeArticle}
						{capture $webalized}{$relativeArticle->ref("articles", "relativeArticle")->webalized}{/capture}
						{capture $photo}{$relativeArticle->ref("articles", "relativeArticle")->photo}{/capture}
						<a n:href="article:view $relativeArticle->relativeArticle, $webalized">
							<h3>{$relativeArticle->ref("articles", "relativeArticle")->title}</h3>
						</a>
						<div class="col-md-6 articleText">
							{!$relativeArticle->ref("articles", "relativeArticle")->text}
							<a n:href="article:view $relativeArticle->relativeArticle, $webalized">
								<div class="btn btn-custom">
									Číst více
								</div>
							</a>
						</div>
						<div class="col-md-6 text-center">
							<img n:img="articleImages/$photo, 400x400, exact">
						</div>
					{/foreach}
				</div>
			{/if isset($relativeArticle)}
			{if $article->offer == TRUE}
				<hr/>
				<p>
					Pokud se zabýváte prodejem nových automobilů a chcete zvýšit efektivitu prodeje, seznamte se s aplikacemi, které jsou moderním multiplexem,
					nezbytným pro podporu prodeje nových automobilů.
				</p>
				<hr/>
				<div class="row">
					<div class="col-md-3 well">
						AUTO-LINK<br/>
						<b>Ing. Jiří Šochman</b><br/>
						vedoucí projektu<br/>
						777 455 646<br/>
						<a href="mailto:sochman@auto-link.cz">sochman@auto-link.cz</a>
					</div>
					<div class="col-md-3 well">
						AUTOSYSTEM<br/>
						<b>Jana Marešová</b><br/>
						asistent obchodu<br/>
						774 425 915<br/>
						<a href="mailto:maresova@autosystem.cz">maresova@autosystem.cz</a>
					</div>
					<div class="col-md-3 well">
						AUTOKLIENT<br/>
						<b>Tomáš Soukup</b><br/>
						obchodní manažer<br/>
						775 225 917<br/>
						<a href="mailto:soukup@autoklient.cz">soukup@autoklient.cz</a>
					</div>
					<div class="col-md-3 well">
						AUTOKLIENT<br/>
						<b>Tereza Kozlová, DiS.</b><br/>
						obchodní manažer<br/>
						775 225 907<br/>
						<a href="mailto:kozlova@autoklient.cz">kozlova@autoklient.cz</a>
					</div>
				</div>
			{/if}
		</div>
	</div>
{/block}