{block #content}
	<h1>Fotky</h1>
	<ol class="breadcrumb">
		<li><a n:href="homepage:default">Administrace</a></li>
		<li><a n:href="pictures:default">Fotky</a></li>
		<li class="active">Přidání fotky</li>
	</ol>
	<hr/>
	<div class="container">
		{control addPictureForm}
	</div>
{/block}