{block content}
	<h1>Galerie</h1>
	<ol class="breadcrumb">
		<li><a n:href="homepage:default">Administrace</a></li>
		<li><a n:href="pictures:default">Galerie</a></li>
		<li class="active">{$category->category}</li>
	</ol>
	<hr/>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 galleryCategory text-center">
				<a n:href="pictures:addPicture $category->id">
					<img src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678092-sign-add-128.png">
				</a>
				<hr/>
			</div>
			{foreach $pictures as $picture}
				<div class="col-sm-6 col-md-4 galleryCategory">
					<div class="thumbnail">
						<img n:img="gallery/$picture->picture">

						<div class="caption" style="overflow: hidden">
							<h3>{$picture->description}</h3>
							<hr/>
							<p>
								<span class="pull-left">
									<a n:href="pictures:editPicture $picture->id, $picture->categoryId" class="btn btn-primary" role="button">Upravit text</a>
								</span>
								<span class="pull-right">
									<a n:href="deletePicture! $picture->id" class="btn btn-default" role="button">
										<i class="glyphicon glyphicon-trash"></i>
									</a>
								</span>
							</p>
						</div>
					</div>
				</div>
			{/foreach}
		</div>
	</div>
{/block}