{block #content}
	<h1>Galerie</h1>
	<ol class="breadcrumb">
		<li><a n:href="homepage:default">Administrace</a></li>
		<li class="active">Galerie</li>
	</ol>
	<hr/>
	<div class="container">
		<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">{$flash->message}</div>

		<a n:href="pictures:addCategory">
			<div class="btn btn-primary">Přidat novou kategorii</div>
		</a>

		<br/>
		<br/>

		<div class="row">
			{foreach $categories as $category}
				<div class="col-sm-6 col-md-4 galleryCategory">
					<div class="thumbnail">
						<img n:img="gallery/$category->picture">

						<div class="caption" style="overflow: hidden">
							<h3>{$category->category}</h3>
							<hr/>
							<p>
								<span class="pull-left">
									<a n:href="pictures:category $category->id" class="btn btn-primary" role="button">Do kategorie</a>
								</span>
								<span class="pull-right">
									<a n:href="pictures:editCategory $category->id" class="btn btn-default" role="button">
										<i class="glyphicon glyphicon-edit"></i>
									</a>
									<a n:href="deleteCategory! $category->id" class="btn btn-default" role="button">
										<i class="glyphicon glyphicon-trash"></i>
									</a>
								</span>
							</p>
						</div>
					</div>
				</div>
			{/foreach}
		</div>
	</div>
{/block}