{block #content}
	<h1>Fotky</h1>
	<ol class="breadcrumb">
		<li><a n:href="homepage:default">Administrace</a></li>
		<li><a n:href="pictures:default">Fotky</a></li>
		<li class="active">Úprava obrázku</li>
	</ol>
	<hr/>
	<div class="container">
		<div class="text-center">
			<img n:img="gallery/$picture->picture" width="50%">
		</div>
		<hr/>
		{control editPictureForm}
	</div>
{/block}