{block #content}
	<h1>Slider</h1>
	<ol class="breadcrumb">
		<li><a n:href="homepage:default">Administrace</a></li>
		<li><a n:href="slider:default">Slider</a></li>
		<li class="active">Přidání slidu</li>
	</ol>
	<hr/>
	<div class="container">
		<div class="alert alert-warning">Obrázky v ideálním případě musí mít 1920x326 rozlišení!</div>
		{control addSlideForm}
	</div>
{/block}