{block content}
	<h1>Slider</h1>
	<ol class="breadcrumb">
		<li><a n:href="homepage:default">Administrace</a></li>
		<li class="active">Slider</li>
	</ol>
	<hr/>
	<div class="container">
		<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">{$flash->message}</div>

		<a n:href="slider:add">
			<div class="btn btn-primary">Přidat nový slide</div>
		</a>

		<br/>
		<br/>
		<table class="table table-bordered table-striped">
			<tr>
				<th></th>
				<th></th>
				<th></th>
			</tr>
			{foreach $slides as $slide}
				<tr>
					<td>
						<a href="{img slides/$slide->picture}">
							<img class="img-thumbnail" n:img="{$slide->picture}, 200x200, fill">
						</a>
					</td>
					<td>
						{$slide->text}
					</td>
					<td>
						<a class="btn btn-default btn-sm" n:href="deleteSlide! $slide->id">
							<i class="glyphicon glyphicon-trash"></i>
						</a>
						<br />
						<a class="btn btn-default btn-sm" n:href="moveUp! $slide->id"><i class="glyphicon glyphicon-arrow-up" rel="tooltip" title="Posunout slide nahoru"></i></a>
						<a class="btn btn-default btn-sm" n:href="moveDown! $slide->id"><i class="glyphicon glyphicon-arrow-down" rel="tooltip" title="Posunout slide dolu"></i></a>
					</td>
				</tr>
			{/foreach}
		</table>
	</div>
{/block}