{block content}
	{foreach $articles as $article}
		{if $iterator->isEven()}
			<div class="article">
		{else}
			<div class="article odd">
		{/if}
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-6 text-center">
					{if $article->photo}
					<img class="img-rounded" n:img="articleImages/$article->photo, 200x200, exact">
					{/if}
				</div>
				<div class="col-md-9 col-sm-6">
					<a n:href="article:view $article->id, $article->webalized">
						<h2>{$article->title}</h2>
					</a>
					<small>{$article->publishDate|date: "d.n.Y"}</small>
					<p>
						{!$article->text|truncate: 250}
					</p>

					<a n:href="article:view $article->id, $article->webalized">
						<div class="btn btn-custom">
							Číst více
						</div>
					</a>
				</div>
			</div>
		</div>
		</div>
	{/foreach}
{/block}