{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset #title}{include title|striptags} | {/ifset}Autonewsletter.cz</title>

	<meta name="description" content="Jak dosáhnout zvyšování prodeje nových vozů? Klikněte na AutoNewsletter.cz!">
	<meta name="robots" content="index,follow">
	<meta name="keywords" content="webové stránky, meevo, design, web, design, eshop, cms, redakční systém, seo">
	<meta name="author" content="Michal Němec">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{$basePath}/css/bootstrap.css">
	<link rel="stylesheet" href="{$basePath}/css/style.css">
	<link rel="shortcut icon" href="{$basePath}/favicons/favicon.ico">
	<link rel="apple-touch-icon" sizes="57x57" href="{$basePath}/favicons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="{$basePath}/favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="{$basePath}/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="{$basePath}/favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="{$basePath}/favicons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="{$basePath}/favicons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="{$basePath}/favicons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="{$basePath}/favicons/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="{$basePath}/favicons/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="{$basePath}/favicons/favicon-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="{$basePath}/favicons/favicon-160x160.png" sizes="160x160">
	<link rel="icon" type="image/png" href="{$basePath}/favicons/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="{$basePath}/favicons/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="{$basePath}/favicons/favicon-32x32.png" sizes="32x32">
	<meta name="msapplication-TileColor" content="#2b5797">
	<meta name="msapplication-TileImage" content="{$basePath}/favicons/mstile-144x144.png">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,600' rel='stylesheet' type='text/css'>
	{block head}{/block}
</head>

<body>
<script> document.documentElement.className += ' js' </script>

<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>
<div class="topPanel">
	<div class="container">
		<ul>
			<li><a href="http://autoklient.cz">autoklient</a></li>
			<li><a href="http://auto-link.cz">auto-link</a></li>
			<li><a href="http://autonewsletter.cz">autonewsletter</a></li>
			<li><a href="http://autosystem.cz">autosystem</a></li>
		</ul>
	</div>
</div>
<div class="header" data-stellar-background-ratio="0.7">
	<div class="content">
		<a n:href="homepage:default">
			<h1>Autonewsletter</h1>
		</a>
		<div class="underliner"></div>

		<p>
			podpora prodeje nových vozů, aktuality z obchodu s automobily
		</p>
	</div>
	<div class="text-center">
		<div class="arrow"></div>
	</div>
</div>

{include content}

<div class="footer">
	<div class="container">
		<div class="pull-left owner">
			© 2015 <a href="/">AutoSystem s.r.o.</a> - Jednička ve zprostředkování prodeje nových vozů značek FORD ŠKODA a dalších
		</div>
		<div class="pull-right creator">
			<a href="http://autonewsletter.cz">Autonewsletter.cz</a>
		</div>
	</div>
</div>

{block scripts}
	<script src="{$basePath}/js/jquery.js"></script>
	<script src="{$basePath}/js/netteForms.js"></script>
	<script src="{$basePath}/js/bootstrap.js"></script>
	<script src="{$basePath}/js/stellar.js"></script>
	<script src="{$basePath}/js/main.js"></script>
{/block}
</body>
</html>
