.login {
	width: 100%;
	background-color: #6C7A89;
	height: 100%;
	position: absolute;
	padding-top: 5%;
	font-family: "Signika Negative";
}

.loginPanel {
	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 5px 0px #525D69;
	padding: 45px 45px 35px 45px;
}

.username {
	margin-bottom: 5px;
}

.username .form-control, .password .form-control {
	height: 55px;
	font-size: 18px;
}

.logo {
	height: 133px;
	background: url("../images/logo.png") no-repeat top;
	margin-bottom: 5%;
}

/* ====================================================== */

a:hover {
	text-decoration: none;
}

.menu {
	float: left;
	width: 19%;
	height: 100%;
	position: fixed;
	background-color: #2b3541;
	font-family: "Roboto";
}

.menu .heading {
	text-align: center;
	color: white;
}

.menu .heading h1 {
	font-weight: 100;
}

.menu .heading a {
	color: #739CC0;
	font-weight: 100;
}

.menu hr {
	border: none;
	border-bottom: 1px solid rgb(97, 97, 97);
}

.menu ul {
	padding: 0;
}

.menu ul li {
	padding: 15px;
	transition: background-color 250ms ease-out;
}

.menu ul li a {
	padding-top: 17px;
	padding-bottom: 17px;
	padding-left: 20px;
	padding-right: 100px;
	color: #8f969c;
	font-weight: 100;
}

.menu ul li.active, .menu ul li:hover {
	background-color: #36404c;
}

.dashboard {
	float: right;
	background-color: white;
	height: 100%;
	padding-top: 10px;
}

.dashboard h1 {
	padding-left: 15px;
}

.dashboard .breadcrumb{
	background-color: white !important;
	font-size: 16px;
}

.galleryCategory img{
	max-width: 100%;
}