html {
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	height: 100%;
}

body {
	position: relative;
	min-height: 100%;
	padding-bottom: 80px;
}

a:hover {
	text-decoration: none;
}

.header {
	background: url("../images/header2.jpg") no-repeat top;
	height: 593px;
	margin-top: -20px;
}

.header .content h1 {
	padding-top: 10rem;
	font-size: 70px;
	font-family: Raleway;
	color: white;
	text-align: center;
	padding-bottom: 30px;
}

.header .content p {
	font-size: 22px;
	font-family: Raleway;
	color: white;
	text-align: center;
	text-transform: uppercase;
	padding-top: 50px;
}

.topPanel {
	text-align: right;
	background-color: rgba(0, 0, 0, 0.9);
	height: 40px;
	padding-top: 10px;
	position: absolute;
	width: 100%;
}

.topPanel ul li {
	display: inline;
}

.topPanel ul li a {
	color: white;
	font-family: Raleway;
	text-transform: uppercase;
	font-weight: 400;
	transition: color 250ms ease-out;
	padding: 10px;
}

.topPanel ul li a:hover,
.topPanel ul li.active > a {
	color: #f39c12;
	text-decoration: none;
}

.header .arrow {
	margin-top: 16rem;
	background: url("../images/arrow.png") no-repeat top;
	height: 23px;
}

.article {
	padding: 40px 0px;
	background-color: #f5f5f5;
	font-family: "Open Sans";
}

.article.odd {
	background-color: white;
}

.article small {
	color: #c9a602;
}

.article a {
	color: black;
}

.btn-custom {
	background-color: #c9a602;
	transition: background-color 250ms ease-out;
}

.btn-custom:hover {
	background-color: #EEC91C;
}

.footer {
	background-color: #333333;
	height: 75px;
	font-family: "open sans";
	font-weight: 100;
	font-size: 14px;
	padding-top: 30px;
	color: white;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}

.footer a {
	color: #c9a602;
	transition: color 250ms ease-out;
}

.footer a:hover {
	color: #EEC91C;
	text-decoration: none;
}

.underliner {
	width: 50%;
	margin: 0 auto;
	height: 1px;
	border-bottom: 1px solid #c9a602;
}

.well {
	background-color: #C7C7C7;
}

.well a {
	color: rgb(204, 0, 0);
}

.breadcrumb {
	margin: 0;
	padding: 8px 0px;
	list-style: none;
	background-color: #f5f5f5;
}

.breadcrumb a {
	color: #c9a602;
}

@media(max-device-width: 991px){

	.topPanel {
		text-align: center !important;
	}

	.header h1 {
		font-size: 300% !important;
	}

    .header p {
	    font-size: 100% !important;
    }
}

@media (max-device-width: 550px) {
	.topPanel ul li a{
		font-size: 80% !important;
	}
}

@media (max-device-width: 472px) {
	.topPanel ul li a {
		font-size: 50% !important;
		padding: 5px 0px;
	}

	.topPanel ul {
		padding: 0;
	}
}
